.chatbotcommand-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.chatbotcommand-chatbotcommand {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-backgroundprobs);
  background-image: linear-gradient(99deg, rgba(219, 255, 245, 1) 0%, rgba(230, 230, 230, 1) 88%, rgba(184, 255, 235, 1) 100%);
}
.chatbotcommand-menu {
  top: -1px;
  left: 1px;
  width: 256px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #ffffff;
}
.chatbotcommand-text {
  top: 29px;
  left: 24px;
  color: rgb(0, 0, 0);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-text01 {
  color: #02bd88;
}
.chatbotcommand-home {
  top: 123px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  background-color: transparent;
}
.chatbotcommand-container01 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  justify-content: flex-start;
}
.chatbotcommand-home1 {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.chatbotcommand-text03 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgb(2, 2, 2);
  width: 72px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-firewall {
  top: 183px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
}
.chatbotcommand-container02 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-brick-wall {
  top: 5px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.chatbotcommand-text04 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgb(0, 0, 0);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-vpn {
  top: 243px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
}
.chatbotcommand-container03 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-vpn1 {
  top: 5px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.chatbotcommand-text05 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-navlink {
  display: contents;
}
.chatbotcommand-dns {
  top: 303px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.chatbotcommand-container04 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-lock {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.chatbotcommand-text07 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-logs {
  top: 363px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
}
.chatbotcommand-container05 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-list {
  top: 0px;
  left: 0px;
  width: 31px;
  bottom: 0px;
  height: 22px;
  margin: auto;
  position: absolute;
}
.chatbotcommand-text09 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 55px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-suggestions {
  top: 423px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
}
.chatbotcommand-container06 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-text11 {
  top: 0px;
  color: rgb(0, 0, 0);
  right: -2px;
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-idea {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.chatbotcommand-blacklist {
  top: 483px;
  left: -1px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
}
.chatbotcommand-container07 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-multiplication {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.chatbotcommand-text12 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-ids {
  top: 543px;
  left: -1px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  background-color: transparent;
}
.chatbotcommand-container08 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-text14 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-frameiconsetting4 {
  top: 4px;
  left: 0px;
  width: 24.256410598754883px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chatbotcommand-group {
  top: 0px;
  left: 0px;
  width: 24.256410598754883px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chatbotcommand-vector {
  top: 3.948620080947876px;
  left: 15.794862747192383px;
  width: 8px;
  height: 2px;
  position: absolute;
}
.chatbotcommand-vector1 {
  top: 3.948620080947876px;
  left: 9.094947017729282e-13px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.chatbotcommand-vector2 {
  top: 0px;
  left: 5.076851844787598px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.chatbotcommand-vector3 {
  top: 16.358978271484375px;
  left: 18.051326751708984px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.chatbotcommand-vector4 {
  top: 16.358978271484375px;
  left: 9.094947017729282e-13px;
  width: 8px;
  height: 2px;
  position: absolute;
}
.chatbotcommand-vector5 {
  top: 12.410358428955078px;
  left: 9.589778900146484px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.chatbotcommand-settings {
  top: 957px;
  left: -2px;
  width: 256px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  background-color: transparent;
}
.chatbotcommand-container09 {
  top: 8px;
  left: 24px;
  width: 172px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chatbotcommand-text16 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 134px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.chatbotcommand-gear {
  top: 0px;
  left: 0px;
  width: 21px;
  bottom: 0px;
  height: 19px;
  margin: auto;
  position: absolute;
}
.chatbotcommand-container10 {
  top: 140px;
  left: 300px;
  width: 1123px;
  height: 744px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  border-radius: 10px;
  background-color: #ffffff;
}
.chatbotcommand-container11 {
  top: 21px;
  left: 0px;
  width: 1123px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.chatbotcommand-discovery {
  top: 0px;
  left: 750px;
  width: 311px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: #000000;
}
.chatbotcommand-discovery1 {
  top: 13px;
  left: 97px;
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  border-radius: 10px;
  text-decoration: none;
}
.chatbotcommand-system {
  top: 0px;
  left: 70px;
  width: 311px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: rgba(2, 189, 136, 1);
}
.chatbotcommand-system1 {
  top: 13px;
  left: 109px;
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  border-radius: 10px;
  text-decoration: none;
}
.chatbotcommand-discovery2 {
  top: 13px;
  left: 483px;
  color: rgb(0, 0, 0);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  border-radius: 10px;
  text-decoration: none;
}
.chatbotcommand-text18 {
  top: 29px;
  left: 286px;
  color: rgb(0, 0, 0);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
