.forgotpassword-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-forgotpassword {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--dl-color-default-backgroundprobs);
  background-image: linear-gradient(99deg, rgba(219, 255, 245, 1) 0%, rgba(230, 230, 230, 1) 88%, rgba(184, 255, 235, 1) 100%);
}
.forgotpassword-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1096px;
  bottom: 0px;
  height: 808px;
  margin: auto;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.forgotpassword-enter-username {
  top: 176px;
  left: 184px;
  width: 724px;
  height: 92px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  font-family: "Quicksand";
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.forgotpassword-enter-security-answer {
  top: 298px;
  left: 0px;
  right: 0px;
  width: 724px;
  height: 92px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  font-family: "Quicksand";
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.forgotpassword-re-enter-new-password {
  top: 539px;
  left: 0px;
  right: 0px;
  width: 724px;
  height: 92px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  font-family: "Quicksand";
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.forgotpassword-enter-new-password {
  top: 420px;
  left: 0px;
  right: 0px;
  width: 724px;
  height: 92px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  font-family: "Quicksand";
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.forgotpassword-reset {
  top: 670px;
  left: 0px;
  right: 0px;
  width: 265px;
  height: 88px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(2, 189, 136, 1);
}
.forgotpassword-text {
  top: 22px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 36px;
  align-self: center;
  font-style: SemiBold;
  text-align: center;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgotpassword-text2 {
  top: 50px;
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgotpassword-image12 {
  top: 60px;
  left: 30px;
  width: 62px;
  height: 63px;
  display: flex;
  padding: 0px;
  position: absolute;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  background-image: url("/image124428-ropn-200w.png");
  background-position: center;
}
