.firewall-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .firewall-firewall {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--dl-color-default-backgroundprobs);
    background-image: linear-gradient(99deg, rgba(219, 255, 245, 1) 0%, rgba(230, 230, 230, 1) 88%, rgba(184, 255, 235, 1) 100%);
  }
  .firewall-text {
    top: 31px;
    left: 295px;
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-navlink {
    display: contents;
  }
  .firewall-custom-mode {
    top: 27px;
    left: 749px;
    width: 321px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-text02 {
    top: 14px;
    left: 29px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-navlink1 {
    display: contents;
  }
  .firewall-create-rule {
    top: 27px;
    left: 1095px;
    width: 293px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-text04 {
    top: 14px;
    left: 26px;
    color: rgba(255, 255, 255, 1);
    width: 238px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-firewall-mode {
    top: 155px;
    left: 299px;
    width: 1096px;
    height: 268px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    align-items: flex-start;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .firewall-text06 {
    top: 21px;
    left: 40px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-home {
    top: 109px;
    left: 35px;
    width: 157px;
    height: 126px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-home:active {
    background: black;
  }
  .firewall-text08 {
    top: 48px;
    left: 44px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-work {
    top: 109px;
    left: 208px;
    width: 157px;
    height: 126px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-work:active {
    background: black;
  }
  .firewall-text10 {
    top: 48px;
    left: 44px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-custom {
    top: 109px;
    left: 381px;
    width: 157px;
    height: 126px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-custom:active {
    background: black;
  }
  .firewall-text12 {
    top: 45px;
    left: 33px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-cafe {
    top: 109px;
    left: 557px;
    width: 157px;
    height: 126px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-cafe:active {
    background: black;
  }
  .firewall-text14 {
    top: 48px;
    left: 52px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-public {
    top: 109px;
    left: 730px;
    width: 157px;
    height: 126px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-public:active {
    background: black;
  }
  .firewall-text16 {
    top: 33px;
    left: 29px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-ai {
    top: 109px;
    right: 36px;
    width: 157px;
    height: 126px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-ai:active {
    background: black;
  }
  .firewall-text21 {
    top: 30px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-rules {
    top: 475px;
    left: 299px;
    width: 1096px;
    height: 174px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    align-items: flex-start;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .firewall-container01 {
    top: 26px;
    left: 0px;
    width: 1096px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .firewall-text26 {
    top: 0px;
    left: 40px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: center;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text28 {
    top: -1px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: center;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text30 {
    top: 0px;
    left: 667px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: center;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text32 {
    left: 40px;
    color: rgba(0, 0, 0, 1);
    width: 160px;
    bottom: 39px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text34 {
    top: 104px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-activate {
    left: 667px;
    right: 264.828125px;
    width: 158.79258728027344px;
    bottom: 31px;
    height: 45px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-activate:active {
    background: black;
  }
  .firewall-text36 {
    top: 6px;
    left: 29.80908203125px;
    color: rgba(255, 255, 255, 1);
    width: 105px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-edit {
    right: 142.859375px;
    width: 104.14319610595703px;
    bottom: 31px;
    height: 45px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-text38 {
    top: 6px;
    left: 30.80908203125px;
    color: rgba(255, 255, 255, 1);
    width: 52px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-view {
    right: 20.859375px;
    width: 104.14319610595703px;
    bottom: 31px;
    height: 45px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-text40 {
    top: 6px;
    left: 26.809139251708984px;
    color: rgba(255, 255, 255, 1);
    width: 58px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-function {
    top: 693px;
    left: 299px;
    width: 1096px;
    height: 218px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    align-items: flex-start;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .firewall-text42 {
    top: 90px;
    left: 40px;
    color: rgba(0, 0, 0, 1);
    width: 252px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text44 {
    top: 154px;
    left: 40px;
    color: rgba(0, 0, 0, 1);
    width: 252px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text46 {
    top: 90px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: center;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text48 {
    top: 154px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    margin: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-container02 {
    top: 26px;
    left: 0px;
    width: 1096px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .firewall-text50 {
    top: 0px;
    left: 391px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: center;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text52 {
    top: -1px;
    left: 667px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: center;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-activate1 {
    left: 667px;
    width: 158.79258728027344px;
    bottom: 24px;
    height: 45px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-activate1:active {
    background: black;
  }
  .firewall-text54 {
    top: 6px;
    left: 29.80908203125px;
    color: rgba(255, 255, 255, 1);
    width: 105px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-activate2 {
    top: 83px;
    left: 667px;
    width: 158.79258728027344px;
    height: 45px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgba(2, 189, 136, 1);
  }
  .firewall-activate2:active {
    background: black;
  }
  .firewall-text56 {
    top: 6px;
    left: 29.80908203125px;
    color: rgba(255, 255, 255, 1);
    width: 105px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-image2 {
    top: 919px;
    left: 1317px;
    width: 98px;
    height: 98px;
    position: absolute;
  }
  .firewall-menu {
    top: -1px;
    left: 1px;
    width: 256px;
    height: 1024px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: #ffffff;
  }
  .firewall-text58 {
    top: 29px;
    left: 24px;
    color: rgb(0, 0, 0);
    width: 206px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-text59 {
    color: #02bd88;
  }
  .firewall-navlink2 {
    display: contents;
  }
  .firewall-home1 {
    top: 123px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .firewall-container03 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
  }
  .firewall-home2 {
    top: 4px;
    left: 0px;
    width: 31px;
    height: 22px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .firewall-text61 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgb(2, 2, 2);
    width: 72px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-navlink3 {
    display: contents;
  }
  .firewall-firewall1 {
    top: 183px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 26.00%,rgb(2, 189, 136) 100.00%);
  }
  .firewall-container04 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .firewall-brick-wall {
    top: 5px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .firewall-text62 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgb(0, 0, 0);
    width: 94px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-navlink4 {
    display: contents;
  }
  .firewall-vpn {
    top: 243px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .firewall-container05 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .firewall-vpn1 {
    top: 5px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .firewall-text63 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 55px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-dns {
    top: 303px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .firewall-container06 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .firewall-lock {
    top: 4px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .firewall-text65 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 136px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-navlink5 {
    display: contents;
  }
  .firewall-logs {
    top: 363px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .firewall-container07 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .firewall-list {
    top: 0px;
    left: 0px;
    width: 31px;
    bottom: 0px;
    height: 22px;
    margin: auto;
    position: absolute;
  }
  .firewall-text67 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 55px;
    bottom: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-navlink6 {
    display: contents;
  }
  .firewall-blacklist {
    top: 423px;
    left: -1px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .firewall-container08 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .firewall-multiplication {
    top: 4px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .firewall-text69 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 95px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-navlink7 {
    display: contents;
  }
  .firewall-ids {
    top: 483px;
    left: -1px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .firewall-container09 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .firewall-text71 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 38px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-frameiconsetting4 {
    top: 4px;
    left: 0px;
    width: 24.256410598754883px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .firewall-group {
    top: 0px;
    left: 0px;
    width: 24.256410598754883px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .firewall-vector {
    top: 3.948620080947876px;
    left: 15.794862747192383px;
    width: 8px;
    height: 2px;
    position: absolute;
  }
  .firewall-vector1 {
    top: 3.948620080947876px;
    left: 9.094947017729282e-13px;
    width: 6px;
    height: 2px;
    position: absolute;
  }
  .firewall-vector2 {
    top: 0px;
    left: 5.076851844787598px;
    width: 10px;
    height: 10px;
    position: absolute;
  }
  .firewall-vector3 {
    top: 16.358978271484375px;
    left: 18.051326751708984px;
    width: 6px;
    height: 2px;
    position: absolute;
  }
  .firewall-vector4 {
    top: 16.358978271484375px;
    left: 9.094947017729282e-13px;
    width: 8px;
    height: 2px;
    position: absolute;
  }
  .firewall-vector5 {
    top: 12.410358428955078px;
    left: 9.589778900146484px;
    width: 10px;
    height: 10px;
    position: absolute;
  }
  .firewall-navlink8 {
    display: contents;
  }
  .firewall-settings {
    top: 957px;
    left: -2px;
    width: 256px;
    height: 43px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .firewall-container10 {
    top: 8px;
    left: 24px;
    width: 172px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .firewall-text73 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 134px;
    bottom: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .firewall-gear {
    top: 0px;
    left: 0px;
    width: 21px;
    bottom: 0px;
    height: 19px;
    margin: auto;
    position: absolute;
  }


  .main-menu-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .main-menu-main-menu {
    width: 100%;
    height: 1024px;
    display: flex;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-image: linear-gradient(99deg, rgba(219, 255, 245, 1) 0%, rgba(230, 230, 230, 1) 88%, rgba(184, 255, 235, 1) 100%);
  }
  .main-menu-image2 {
    top: 900px;
    left: 1321px;
    width: 98px;
    height: 98px;
    position: absolute;
  }
  .main-menu-container01 {
    top: 130px;
    left: 294px;
    width: 520px;
    height: 278px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    align-items: flex-start;
    margin-right: var(--dl-space-space-halfunit);
    border-radius: 10px;
    background-color: #ffffff;
  }
  .main-menu-container02 {
    top: 23px;
    left: 0px;
    width: 520px;
    height: 31.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .main-menu-text {
    top: -3px;
    left: 27px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-group376 {
    top: 76px;
    right: 0px;
    width: 498px;
    height: 172px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .main-menu-text02 {
    left: 23px;
    color: rgba(0, 0, 0, 1);
    bottom: 5px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    padding-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .main-menu-text04 {
    left: 180px;
    color: rgba(0, 0, 0, 1);
    bottom: 5px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    padding-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .main-menu-text06 {
    color: rgba(0, 0, 0, 1);
    right: 40px;
    bottom: 0px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    padding-left: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .main-menu-group375 {
    top: 0px;
    left: 0px;
    width: 139px;
    height: 126px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .main-menu-container03 {
    top: 0px;
    left: 0px;
    width: 139px;
    height: 126px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-ellipse63 {
    top: 0px;
    left: 0px;
    width: 139px;
    height: 126px;
    position: absolute;
  }
  .main-menu-text08 {
    top: 39px;
    left: 58px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-group374 {
    top: 1px;
    left: 162px;
    width: 139px;
    height: 126px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .main-menu-ellipse64 {
    top: 0px;
    left: 0px;
    width: 139px;
    height: 126px;
    position: absolute;
  }
  .main-menu-text09 {
    top: 38px;
    left: 58px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-group373 {
    top: 1px;
    left: 329px;
    width: 139px;
    height: 126px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .main-menu-ellipse65 {
    top: 0px;
    left: 0px;
    width: 139px;
    height: 126px;
    position: absolute;
  }
  .main-menu-text10 {
    top: 38px;
    left: 52px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-behaviour {
    top: 439px;
    left: 293px;
    width: 520px;
    height: 235px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    align-items: flex-start;
    flex-shrink: 1;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .main-menu-text12 {
    top: 82px;
    left: 28px;
    color: rgba(255, 0, 0, 1);
    width: 437px;
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-text14 {
    top: 130px;
    left: 29px;
    color: rgb(0, 0, 0);
    width: 437px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: "Quicksand";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-text17 {
    top: 160px;
    left: 31px;
    color: rgba(0, 0, 0, 1);
    width: 437px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-container04 {
    top: 23px;
    left: 0px;
    width: 520px;
    height: 34px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .main-menu-text21 {
    top: -2px;
    left: 27px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-container05 {
    top: 130px;
    left: 850px;
    width: 520px;
    height: 273px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
  }
  .main-menu-container06 {
    top: 22px;
    left: 0px;
    width: 520px;
    height: 31.5px;
    display: flex;
    position: absolute;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    flex-direction: column;
    justify-content: center;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .main-menu-text23 {
    top: -2px;
    left: 27px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-text25 {
    top: 82px;
    left: 29px;
    color: rgb(0, 0, 0);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: SemiBold;
    text-align: left;
    font-family: "Quicksand";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-container07 {
    top: 439px;
    left: 850px;
    width: 520px;
    height: 235px;
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    align-items: flex-start;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .main-menu-text36 {
    top: 113px;
    left: 42px;
    color: rgb(0, 0, 0);
    width: 397px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: "Quicksand";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-text37 {
    font-size: 20px;
  }
  .main-menu-text38 {
    font-size: 20px;
  }
  .main-menu-text39 {
    font-size: 20px;
  }
  .main-menu-text40 {
    font-size: 20px;
  }
  .main-menu-text41 {
    font-size: 20px;
  }
  .main-menu-text44 {
    top: 78px;
    left: 41px;
    color: rgb(0, 0, 0);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: SemiBold;
    text-align: left;
    font-family: "Quicksand";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-container08 {
    top: 23px;
    left: 0px;
    width: 520px;
    height: 31.5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .main-menu-text45 {
    top: -2px;
    left: 27px;
    color: rgb(0, 0, 0);
    width: 520px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: SemiBold;
    text-align: left;
    font-family: "Quicksand";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-menu {
    top: -1px;
    left: 1px;
    width: 256px;
    height: 1024px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: #ffffff;
  }
  .main-menu-text48 {
    top: 29px;
    left: 24px;
    color: rgb(0, 0, 0);
    width: 206px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Bold;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-text49 {
    color: #02bd88;
  }
  .main-menu-navlink {
    display: contents;
  }
  .main-menu-home {
    top: 123px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 26.00%,rgb(2, 189, 136) 100.00%);
  }
  .main-menu-container09 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
  }
  .main-menu-home1 {
    top: 4px;
    left: 0px;
    width: 31px;
    height: 22px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .main-menu-text51 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgb(2, 2, 2);
    width: 72px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-navlink1 {
    display: contents;
  }
  .main-menu-firewall {
    top: 183px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .main-menu-container10 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-brick-wall {
    top: 5px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .main-menu-text52 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgb(0, 0, 0);
    width: 94px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: center;
    font-family: "Quicksand";
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-navlink2 {
    display: contents;
  }
  .main-menu-vpn {
    top: 243px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .main-menu-container11 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-vpn1 {
    top: 5px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .main-menu-text53 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 55px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-navlink3 {
    display: contents;
  }
  .main-menu-dns {
    top: 303px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .main-menu-container12 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-lock {
    top: 4px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .main-menu-text55 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 136px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-navlink4 {
    display: contents;
  }
  .main-menu-logs {
    top: 363px;
    left: -2px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .main-menu-container13 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-list {
    top: 0px;
    left: 0px;
    width: 31px;
    bottom: 0px;
    height: 22px;
    margin: auto;
    position: absolute;
  }
  .main-menu-text57 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 55px;
    bottom: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-navlink5 {
    display: contents;
  }
  .main-menu-blacklist {
    top: 423px;
    left: -1px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .main-menu-container14 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-multiplication {
    top: 4px;
    left: 0px;
    width: 31px;
    height: 22px;
    position: absolute;
  }
  .main-menu-text59 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 95px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-navlink6 {
    display: contents;
  }
  .main-menu-ids {
    top: 483px;
    left: -1px;
    width: 256px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    border-radius: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .main-menu-container15 {
    top: 0px;
    left: 24px;
    width: 172px;
    bottom: 0px;
    height: 30px;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-text61 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 38px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: center;
    font-style: Medium;
    text-align: center;
    font-family: Quicksand;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-frameiconsetting4 {
    top: 4px;
    left: 0px;
    width: 24.256410598754883px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .main-menu-group {
    top: 0px;
    left: 0px;
    width: 24.256410598754883px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .main-menu-vector {
    top: 3.948620080947876px;
    left: 15.794862747192383px;
    width: 8px;
    height: 2px;
    position: absolute;
  }
  .main-menu-vector1 {
    top: 3.948620080947876px;
    left: 9.094947017729282e-13px;
    width: 6px;
    height: 2px;
    position: absolute;
  }
  .main-menu-vector2 {
    top: 0px;
    left: 5.076851844787598px;
    width: 10px;
    height: 10px;
    position: absolute;
  }
  .main-menu-vector3 {
    top: 16.358978271484375px;
    left: 18.051326751708984px;
    width: 6px;
    height: 2px;
    position: absolute;
  }
  .main-menu-vector4 {
    top: 16.358978271484375px;
    left: 9.094947017729282e-13px;
    width: 8px;
    height: 2px;
    position: absolute;
  }
  .main-menu-vector5 {
    top: 12.410358428955078px;
    left: 9.589778900146484px;
    width: 10px;
    height: 10px;
    position: absolute;
  }
  .main-menu-navlink7 {
    display: contents;
  }
  .main-menu-settings {
    top: 957px;
    left: -2px;
    width: 256px;
    height: 43px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-width: 0px;
    text-decoration: none;
    background-color: transparent;
  }
  .main-menu-container16 {
    top: 8px;
    left: 24px;
    width: 172px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .main-menu-text63 {
    top: 0px;
    left: var(--dl-space-space-twounits);
    color: rgba(0, 0, 0, 1);
    width: 134px;
    bottom: 0px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Quicksand;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .main-menu-gear {
    top: 0px;
    left: 0px;
    width: 21px;
    bottom: 0px;
    height: 19px;
    margin: auto;
    position: absolute;
  }
  .main-menu-text65 {
    top: 33px;
    left: 305px;
    color: rgb(0, 0, 0);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: SemiBold;
    text-align: left;
    font-family: "Quicksand";
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  