.vpn-edit-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.vpn-edit-vpn-edit {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-default-backgroundprobs);
  background-image: linear-gradient(99deg, rgba(219, 255, 245, 1) 0%, rgba(230, 230, 230, 1) 88%, rgba(184, 255, 235, 1) 100%);
}
.vpn-edit-text {
  top: 34px;
  left: 315px;
  color: rgba(0, 0, 0, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-image2 {
  top: 899px;
  left: 1307px;
  width: 98px;
  height: 98px;
  position: absolute;
}
.vpn-edit-container01 {
  top: 143px;
  left: 314px;
  width: 1096px;
  height: 404px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  border-radius: 10px;
  background-color: #ffffff;
}
.vpn-edit-name {
  top: 26px;
  left: 45px;
  width: 1006px;
  height: 59.4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-text02 {
  top: 14px;
  left: var(--dl-space-space-halfunit);
  color: rgba(0, 0, 0, 1);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: center;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-avp-name {
  top: 0px;
  left: 200px;
  width: 806px;
  height: 50px;
  position: absolute;
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.vpn-edit-type {
  top: 96px;
  left: 45px;
  width: 1006px;
  height: 59.4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-text04 {
  top: 14px;
  left: var(--dl-space-space-halfunit);
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: center;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-avp-type {
  top: 0px;
  left: 200px;
  width: 806px;
  height: 50px;
  position: absolute;
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.vpn-edit-server {
  top: 166px;
  left: 45px;
  width: 1006px;
  height: 59.4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-text05 {
  top: 14px;
  left: var(--dl-space-space-halfunit);
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: center;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-avp-server {
  top: 0px;
  left: 200px;
  width: 806px;
  height: 50px;
  position: absolute;
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.vpn-edit-username {
  top: 236px;
  left: 45px;
  width: 1006px;
  height: 59.4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-text08 {
  top: 14px;
  left: var(--dl-space-space-halfunit);
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: center;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-avp-username {
  top: 0px;
  left: 200px;
  width: 806px;
  height: 50px;
  position: absolute;
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.vpn-edit-password {
  top: 306px;
  left: 45px;
  width: 1006px;
  height: 59.4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-text09 {
  top: 14px;
  left: var(--dl-space-space-halfunit);
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: center;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-avp-password {
  top: 0px;
  left: 200px;
  width: 806px;
  height: 50px;
  position: absolute;
  border-width: 0px;
  background-color: rgba(230, 230, 230, 1);
}
.vpn-edit-evp-back {
  top: 34px;
  left: 1050px;
  width: 175px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(2, 189, 136, 1);
}
.vpn-edit-text10 {
  top: 12px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-evp-save {
  top: 34px;
  left: 1235px;
  right: 0px;
  width: 175px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(2, 189, 136, 1);
}
.vpn-edit-text12 {
  top: 14px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-menu {
  top: -1px;
  left: 1px;
  width: 256px;
  height: 1024px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #ffffff;
}
.vpn-edit-text14 {
  top: 29px;
  left: 24px;
  color: rgb(0, 0, 0);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-text15 {
  color: #02bd88;
}
.vpn-edit-navlink {
  display: contents;
}
.vpn-edit-home {
  top: 123px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.vpn-edit-container02 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  justify-content: flex-start;
}
.vpn-edit-home1 {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.vpn-edit-text17 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgb(2, 2, 2);
  width: 72px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-navlink1 {
  display: contents;
}
.vpn-edit-firewall {
  top: 183px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.vpn-edit-container03 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-brick-wall {
  top: 5px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.vpn-edit-text18 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgb(0, 0, 0);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-navlink2 {
  display: contents;
}
.vpn-edit-vpn {
  top: 243px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 26.00%,rgb(2, 189, 136) 100.00%);
}
.vpn-edit-container04 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-vpn1 {
  top: 5px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.vpn-edit-text19 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-navlink3 {
  display: contents;
}
.vpn-edit-dns {
  top: 303px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.vpn-edit-container05 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-lock {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.vpn-edit-text21 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-navlink4 {
  display: contents;
}
.vpn-edit-logs {
  top: 363px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.vpn-edit-container06 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-list {
  top: 0px;
  left: 0px;
  width: 31px;
  bottom: 0px;
  height: 22px;
  margin: auto;
  position: absolute;
}
.vpn-edit-text23 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 55px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-navlink5 {
  display: contents;
}
.vpn-edit-blacklist {
  top: 423px;
  left: -1px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.vpn-edit-container07 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-multiplication {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.vpn-edit-text25 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-navlink6 {
  display: contents;
}
.vpn-edit-ids {
  top: 483px;
  left: -1px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.vpn-edit-container08 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-text27 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-frameiconsetting4 {
  top: 4px;
  left: 0px;
  width: 24.256410598754883px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.vpn-edit-group {
  top: 0px;
  left: 0px;
  width: 24.256410598754883px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.vpn-edit-vector {
  top: 3.948620080947876px;
  left: 15.794862747192383px;
  width: 8px;
  height: 2px;
  position: absolute;
}
.vpn-edit-vector1 {
  top: 3.948620080947876px;
  left: 9.094947017729282e-13px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.vpn-edit-vector2 {
  top: 0px;
  left: 5.076851844787598px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.vpn-edit-vector3 {
  top: 16.358978271484375px;
  left: 18.051326751708984px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.vpn-edit-vector4 {
  top: 16.358978271484375px;
  left: 9.094947017729282e-13px;
  width: 8px;
  height: 2px;
  position: absolute;
}
.vpn-edit-vector5 {
  top: 12.410358428955078px;
  left: 9.589778900146484px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.vpn-edit-navlink7 {
  display: contents;
}
.vpn-edit-settings {
  top: 957px;
  left: -2px;
  width: 256px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.vpn-edit-container09 {
  top: 8px;
  left: 24px;
  width: 172px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.vpn-edit-text29 {
  top: 0px;
  left: var(--dl-space-space-twounits);
  color: rgba(0, 0, 0, 1);
  width: 134px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vpn-edit-gear {
  top: 0px;
  left: 0px;
  width: 21px;
  bottom: 0px;
  height: 19px;
  margin: auto;
  position: absolute;
}
