.main-menu-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.main-menu-main-menu {
  width: 100%;
  height: 1344px;
  display: flex;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-image: linear-gradient(99deg, rgba(219, 255, 245, 1) 0%, rgba(230, 230, 230, 1) 88%, rgba(184, 255, 235, 1) 100%);
}

.main-menu-image2 {
  right: 104px;
  width: 98px;
  bottom: 13px;
  height: 98px;
  position: absolute;
}
.main-menu-container01 {
  top: 130px;
  left: 293px;
  width: 1096px;
  height: 278px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  margin-right: var(--dl-space-space-halfunit);
  border-radius: 10px;
  background-color: #ffffff;
}
.main-menu-container02 {
  top: 23px;
  left: 0px;
  width: 1075px;
  height: 31.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.main-menu-text {
  top: -3px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text02 {
  top: -10px;
  color: rgb(0, 0, 0);
  right: 39px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-group376 {
  top: 82px;
  left: 28px;
  width: 340px;
  height: 172px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-menu-text03 {
  left: 37px;
  color: rgba(0, 0, 0, 1);
  bottom: 5px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-menu-text05 {
  left: 204px;
  color: rgb(0, 0, 0);
  bottom: 6px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-menu-text06 {
  color: rgb(0, 0, 0);
  right: -137px;
  bottom: 3px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-menu-text07 {
  color: rgb(0, 0, 0);
  right: -332px;
  bottom: 3px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal; 
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-menu-text08 {
  color: rgb(0, 0, 0);
  right: -494px;
  bottom: 4px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-menu-text09 {
  color: rgb(0, 0, 0);
  right: -672px;
  bottom: 2px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-menu-group375 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 126px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-menu-container03 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 126px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-ellipse63 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 126px;
  position: absolute;
}
.main-menu-ellipse631 {
  top: 0px;
  right: -351px;
  width: 139px;
  height: 126px;
  position: absolute;
}
.main-menu-ellipse632 {
  right: -532px;
  width: 139px;
  bottom: -5px;
  height: 126px;
  position: absolute;
}
.main-menu-ellipse633 {
  right: -710px;
  width: 139px;
  bottom: -3px;
  height: 126px;
  position: absolute;
}
.main-menu-ellipse634 {
  right: -884px;
  width: 139px;
  bottom: -3px;
  height: 126px;
  position: absolute;
}
.main-menu-text10 {
  top: 43px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text11 {
  top: 43px;
  color: rgba(255, 255, 255, 1);
  right: -351px;
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-group374 {
  top: 1px;
  left: 162px;
  width: 139px;
  height: 126px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-menu-ellipse64 {
  top: 0px;
  left: 9px;
  width: 139px;
  height: 126px;
  position: absolute;
}
.main-menu-text12 {
  top: 49px;
  color: rgb(255, 255, 255);
  right: 7px;
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text13 {
  top: 49px;
  color: rgb(255, 255, 255);
  right: -370px;
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text14 {
  top: 49px;
  color: rgb(255, 255, 255);
  right: -548px;
  height: auto;
  width: 139px;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text15 {
  top: 49px;
  color: rgb(255, 255, 255);
  right: -722px;
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-behaviour {
  top: 439px;
  left: 293px;
  width: 520px;
  height: 235px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: #ffffff;
}
.main-menu-text16 {
  top: 75px;
  left: 28px;
  color: rgba(255, 0, 0, 1);
  width: 437px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text18 {
  top: 100px;
  left: 29px;
  color: rgb(0, 0, 0);
  width: 437px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text21 {
  top: 160px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  width: 437px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-container04 {
  top: 23px;
  left: 0px;
  width: 520px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.main-menu-text25 {
  top: -2px;
  left: 27px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-quickactions {
  left: 294px;
  width: 1079px;
  bottom: 72px;
  height: 235px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: #ffffff;
}
.main-menu-container05 {
  top: 23px;
  left: 0px;
  width: 1079px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.main-menu-text26 {
  top: -2px;
  left: 27px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-agressive3 {
  top: 79px;
  right: 50px;
  width: 226px;
  height: 126px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(2, 189, 136, 1);
}
.main-menu-agressive3:active {
  background: black;
}
.main-menu-text27 {
  top: 39px;
  left: -12px;
  color: rgb(255, 255, 255);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-agressive1 {
  top: 82px;
  left: 414px;
  width: 240px;
  height: 126px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(2, 189, 136, 1);
}
.main-menu-agressive1:active {
  background: black;
}
.main-menu-text28 {
  top: 45px;
  left: -12px;
  color: rgb(255, 255, 255);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-agressive2 {
  left: 49px;
  width: 238px;
  bottom: 24px;
  height: 126px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgba(2, 189, 136, 1);
}
.main-menu-agressive2:active {
  background: black;
}
.main-menu-text29 {
  top: 44px;
  left: -14px;
  color: rgb(255, 255, 255);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-container06 {
  top: 439px;
  left: 850px;
  width: 520px;
  height: 235px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  border-radius: 10px;
  background-color: #ffffff;
}
.main-menu-container07 {
  top: 23px;
  left: 0px;
  width: 520px;
  height: 31.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.main-menu-text30 {
  top: -7px;
  color: rgb(0, 0, 0);
  right: -27px;
  width: 520px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text31 {
  top: 10 px;
  left: 28px;
  color: rgb(0, 0, 0);
  bottom: -100px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-menu {
  top: -1px;
  left: 1px;
  width: 256px;
  height: 1344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: #ffffff;
}
.main-menu-text54 {
  top: 29px;
  left: 24px;
  color: rgb(0, 0, 0);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-text55 {
  color: #02bd88;
}
.main-menu-navlink {
  display: contents;
}
.main-menu-home {
  top: 123px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 26.00%,rgb(2, 189, 136) 100.00%);
}
.main-menu-container08 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  justify-content: flex-start;
}
.main-menu-home1 {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.main-menu-text57 {
  top: -2px;
  left: 41px;
  color: rgb(2, 2, 2);
  width: 72px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-navlink1 {
  display: contents;
}
.main-menu-firewall {
  top: 183px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.main-menu-container09 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-brick-wall {
  top: 5px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.main-menu-text58 {
  top: -2px;
  left: 39px;
  color: rgb(0, 0, 0);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-navlink2 {
  display: contents;
}
.main-menu-vpn {
  top: 243px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.main-menu-container10 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-vpn1 {
  top: 5px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.main-menu-text59 {
  top: -1px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-navlink3 {
  display: contents;
}
.main-menu-dns {
  top: 303px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.main-menu-container11 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-lock {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.main-menu-text61 {
  top: -1px;
  color: rgba(0, 0, 0, 1);
  right: -4px;
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-navlink4 {
  display: contents;
}
.main-menu-logs {
  top: 363px;
  left: -2px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.main-menu-container12 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-list {
  top: 0px;
  left: 0px;
  width: 31px;
  bottom: 0px;
  height: 22px;
  margin: auto;
  position: absolute;
}
.main-menu-text63 {
  top: -1px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  width: 55px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-navlink5 {
  display: contents;
}
.main-menu-blacklist {
  top: 423px;
  left: -1px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.main-menu-container13 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-multiplication {
  top: 4px;
  left: 0px;
  width: 31px;
  height: 22px;
  position: absolute;
}
.main-menu-text65 {
  top: 0px;
  left: 39px;
  color: rgb(0, 0, 0);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-navlink6 {
  display: contents;
}
.main-menu-ids {
  top: 483px;
  left: -1px;
  width: 256px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: 0px;
  text-decoration: none;
  background-color: transparent;
}
.main-menu-container14 {
  top: 0px;
  left: 24px;
  width: 172px;
  bottom: 0px;
  height: 30px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-text66 {
  top: -3px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Quicksand;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-frameiconsetting4 {
  top: 4px;
  left: 0px;
  width: 24.256410598754883px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-menu-group {
  top: 0px;
  left: 0px;
  width: 24.256410598754883px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.main-menu-vector {
  top: 3.948620080947876px;
  left: 15.794862747192383px;
  width: 8px;
  height: 2px;
  position: absolute;
}
.main-menu-vector1 {
  top: 3.948620080947876px;
  left: 9.094947017729282e-13px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.main-menu-vector2 {
  top: 0px;
  left: 5.076851844787598px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.main-menu-vector3 {
  top: 16.358978271484375px;
  left: 18.051326751708984px;
  width: 6px;
  height: 2px;
  position: absolute;
}
.main-menu-vector4 {
  top: 16.358978271484375px;
  left: 9.094947017729282e-13px;
  width: 8px;
  height: 2px;
  position: absolute;
}
.main-menu-vector5 {
  top: 12.410358428955078px;
  left: 9.589778900146484px;
  width: 10px;
  height: 10px;
  position: absolute;
}
.main-menu-navlink7 {
  display: contents;
}
.main-menu-settings {
  top: 1267px;
  left: -2px;
  width: 256px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.main-menu-container15 {
  top: 8px;
  left: 24px;
  width: 172px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-text68 {
  top: 0px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 134px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Quicksand;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-gear {
  top: 0px;
  left: 0px;
  width: 21px;
  bottom: 0px;
  height: 19px;
  margin: auto;
  position: absolute;
}
.main-menu-text70 {
  top: 33px;
  left: 305px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.main-menu-network-stats {
  top: 773px;
  left: 293px;
  width: 1096px;
  height: 542px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 10px;
  background-color: #ffffff;
}
.main-menu-network-graph {
  top: 86px;
  left: 22px;
  width: 1034px;
  height: 375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.bandwidth-chart {
    width: 100%;
    height: 100%;
    display: block; /* Set display to block */
}

.main-menu-container05 {
  top: 23px;
  left: 0px;
  width: 1079px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.main-menu-text26 {
  top: -2px;
  left: 27px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-network-security {
  right: 75px;
  width: 311.78125px;
  bottom: 32px;
  height: 31.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-netsec {
  top: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-netseclabel {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  bottom: 32px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-networkname {
  left: 49px;
  width: 600.4765625px;
  bottom: 32px;
  height: 31.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.main-menu-netname {
  top: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  height: auto;
  padding-left:200px;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-menu-netnamelabel {
  top: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.firewall-analytics {
  top: 435px;
  left: 293px;
  width: 1096px;
  height: 312px;
  display: flex;
  position: absolute;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: #ffffff;
}
.firewall-textant {
  top: 30px;
  left: 40px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firewall-mostblocked {
  top: 91px;
  left: 332px;
  width: 433px;
  height: 179px;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #6246c9;
}
.firewall-blocksitelabel {
  left: 93px;
  color: rgb(255, 255, 255);
  width: auto;
  bottom: 30px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-transform: capitalize;
  text-decoration: none;
}
.firewall-blocksite {
  top: 47px;
  left: 20px;
  color: #ffffff;
  width: 393px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: center;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firewall-blockedratio {
  top: 91px;
  right: 26px;
  width: 288px;
  height: 179px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #000000;
}
.firewall-blockratabel {
  left: 74px;
  color: rgb(255, 255, 255);
  width: auto;
  bottom: 30px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-transform: capitalize;
  text-decoration: none;
}
.firewall-blockpercent {
  top: 47px;
  left: 20px;
  color: #ffffff;
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firewall-blocked {
  top: 91px;
  left: 31px;
  width: 288px;
  height: 179px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #c94646;
}
.firewall-blockedcount {
  top: 47px;
  left: 20px;
  color: #ffffff;
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: SemiBold;
  text-align: center;
  font-family: "Quicksand";
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.firewall-blockedlabel {
  left: 73px;
  color: rgb(255, 255, 255);
  width: auto;
  bottom: 30px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: normal;
  text-align: left;
  font-family: "Quicksand";
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-transform: capitalize;
  text-decoration: none;
}
