<!DOCTYPE html>
<html lang="english">
  <head>
    <title>cybervault</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div>
    <link rel="stylesheet" href="{{ url_for('static', filename='dns-over-httpsdis.css') }}">

      <div class="dns-over-httpsdis-container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="site-errors" id="loginErrorPopup">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div class="site-errors" id="localErrorPopup">
            <p></p>
        </div>

        <div class="dns-over-httpsdis-dns-over-httpsdis">
          <span class="dns-over-httpsdis-text">
            <span>DNS Over HTTPS</span>
          </span>
          <span class="dns-over-httpsdis-text02">
            <span>
              The DNS over HTTPS page lets you enable encryption on their DNS
              requests by routing it through supported DNS providers
            </span>
          </span>
          <a href="dns-add">
          <div id="dnsAdd" class="dns-over-httpsdis-add-dns-button button">
            <span class="dns-over-httpsdis-text04"><span>Add DNS</span></span>
          </div>
          <div class="dns-over-httpsdis-menu">
            <span class="dns-over-httpsdis-text06">
              <span class="dns-over-httpsdis-text07">Cyber</span><span>Vault</span>
            </span>
            <a href="/" class="dns-over-httpsdis-navlink">
              <div class="dns-over-httpsdis-home button">
                <div class="dns-over-httpsdis-container01">
                  <img
                    alt="Home4229"
                    src="{{ url_for('static', filename='public/external/home4229-6ztk-200h.png') }}"
                    class="dns-over-httpsdis-home1"
                  />
                  <span class="dns-over-httpsdis-text09">Home</span>
                </div>
              </div>
            </a>
             <a href="firewall" class="dns-over-httpsdis-navlink1">
              <div class="dns-over-httpsdis-firewall button">
                <div class="dns-over-httpsdis-container02">
                  <img
                    alt="BrickWall4229"
                    src="{{ url_for('static', filename='public/external/brickwall4229-fe85-200h.png') }}"
                    class="dns-over-httpsdis-brick-wall"
                  />
                  <span class="dns-over-httpsdis-text10">Firewall</span>
                </div>
              </div>
            </a>
            <a href="vpn" class="dns-over-httpsdis-navlink2">
              <div class="dns-over-httpsdis-vpn button">
                <div class="dns-over-httpsdis-container03">
                  <img
                    alt="VPN4229"
                    src="{{ url_for('static', filename='public/external/vpn4229-ur9r-200h.png') }}"
                    class="dns-over-httpsdis-vpn1"
                  />
                  <span class="dns-over-httpsdis-text11"><span>VPN</span></span>
                </div>
              </div>
            </a>
            <a href="dns-over-httpsdis" class="dns-over-httpsdis-navlink3">
              <div class="dns-over-httpsdis-dns button">
                <div class="dns-over-httpsdis-container04">
                  <img
                    alt="Lock4229"
                    src="{{ url_for('static', filename='public/external/lock4229-ou9-200h.png') }}"
                    class="dns-over-httpsdis-lock"
                  />
                  <span class="dns-over-httpsdis-text13">
                    <span>Secure DNS</span>
                  </span>
                </div>
              </div>
            </a>
            <a href="logs" class="dns-over-httpsdis-navlink4">
              <div class="dns-over-httpsdis-logs button">
                <div class="dns-over-httpsdis-container05">
                  <img
                    alt="List4229"
                    src="{{ url_for('static', filename='public/external/list4229-fubg-200h.png') }}"
                    class="dns-over-httpsdis-list"
                  />
                  <span class="dns-over-httpsdis-text15">
                    <span>Logs</span>
                  </span>
                </div>
              </div>
            </a>
            <a href="chatbot-discovery" class="dns-over-httpsdis-navlink5">
              <div class="dns-over-httpsdis-blacklist button">
                <div class="dns-over-httpsdis-container06">
                  <img
                    alt="Multiplication4229"
                    src="{{ url_for('static', filename='public/external/multiplication4229-h3z-200h.png') }}"
                    class="dns-over-httpsdis-multiplication"
                  />
                  <span class="dns-over-httpsdis-text17">
                    <span>VaultBot</span>
                  </span>
                </div>
              </div>
            </a>
            <a href="ids" class="dns-over-httpsdis-navlink6">
              <div class="dns-over-httpsdis-ids button">
                <div class="dns-over-httpsdis-container07">
                  <span class="dns-over-httpsdis-text19"><span>IDS</span></span>
                  <div class="dns-over-httpsdis-frameiconsetting4">
                    <div class="dns-over-httpsdis-group">
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-kbig.svg') }}"
                        class="dns-over-httpsdis-vector"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-ury6.svg') }}"
                        class="dns-over-httpsdis-vector1"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-apps.svg') }}"
                        class="dns-over-httpsdis-vector2"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-5fl.svg') }}"
                        class="dns-over-httpsdis-vector3"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-ow93.svg') }}"
                        class="dns-over-httpsdis-vector4"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-d3e.svg') }}"
                        class="dns-over-httpsdis-vector5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="settings" class="dns-over-httpsdis-navlink7">
              <div class="dns-over-httpsdis-settings button">
                <div class="dns-over-httpsdis-container08">
                  <span class="dns-over-httpsdis-text21">
                    <span>Settings</span>
                  </span>
                  <img
                    alt="Gear4229"
                    src="{{ url_for('static', filename='public/external/gear4229-cdoj-200h.png') }}"
                    class="dns-over-httpsdis-gear"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="dns-over-httpsdis-dnslist">
    <div class="dns-over-httpsdis-container09">
        <span class="dns-over-httpsdis-text23">Name</span>
        <span class="dns-over-httpsdis-text24"><span>Status</span></span>
        <span class="dns-over-httpsdis-text26"><span>Settings</span></span>
    </div>

    {% for record in dns_record %}
    <div class="dns-record-entry">
    <span class="dns-over-httpsdis-text28">{{ record[1] }}</span> <!-- Assuming record[1] is the name -->
    <span class="dns-over-httpsdis-text29"><span>{{ record[2] }}</span></span> <!-- Assuming record[2] is the status -->
    <div class="dns-over-httpsdis-button-container">
        <div id="statusButton-{{ record[0] }}" class="dns-over-httpsdis-{{ 'deactivate' if record[2] == 'Active' else 'activate' }} button" onclick="toggleDNSStatus({{ record[0] }})">
            <span class="dns-over-httpsdis-text31">
                <span>{{ 'Disable' if record[2] == 'Active' else 'Activate' }}</span>
            </span>
        </div>
        <div onclick="location.href='{{ url_for('dns_edit', dns_id=record[0]) }}'" class="dns-over-httpsdis-edit button" style="cursor: pointer;">
            <span class="dns-over-httpsdis-text33">Edit</span>
        </div>
        <div class="dns-over-httpsdis-delete button" onclick="deleteDNSRecord({{ record[0] }})">
            <span class="dns-over-httpsdis-text32">Delete</span>
        </div>
    </div>
</div>
        {% endfor %}
        </div>
      </div>
    </div>
    <script>

    function showError(message) {
            const errorPopup = document.getElementById('localErrorPopup');
            errorPopup.innerHTML = `<p>${message}</p>`;
            errorPopup.style.display = 'block';

            // Hide the message after 5 seconds
            setTimeout(() => {
                errorPopup.style.display = 'none';
            }, 5000);
        }

    function toggleDNSStatus(dnsId) {
    const statusButton = document.getElementById(`statusButton-${dnsId}`);
    const buttonTextElement = statusButton.getElementsByClassName('dns-over-httpsdis-text31')[0].getElementsByTagName('span')[0];

    // Find the status text element of this DNS record
    const statusTextContainer = statusButton.closest('.dns-record-entry').querySelector('.dns-over-httpsdis-text29 span');

    let currentStatus = buttonTextElement.textContent.trim();
    let newStatus = currentStatus === "Activate" ? "Active" : "Not Active";

    // AJAX request to Flask
    fetch('/update_status', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ dns_id: dnsId, new_status: newStatus })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        // If the new status is Active, set all other DNS records to Not Active in the DOM
        if (newStatus === "Active") {
          const allStatusContainers = document.querySelectorAll('.dns-record-entry .dns-over-httpsdis-text29 span');
          allStatusContainers.forEach(container => {
            container.textContent = "Not Active";
          });
          statusTextContainer.textContent = "Active";

          // Update all buttons to reflect the new statuses
          document.querySelectorAll('.dns-record-entry .dns-over-httpsdis-deactivate').forEach(button => {
            button.className = "dns-over-httpsdis-activate button";
            button.querySelector('.dns-over-httpsdis-text31 span').textContent = "Activate";
          });
          statusButton.className = "dns-over-httpsdis-deactivate button";
          buttonTextElement.textContent = "Disable";
        } else {
          buttonTextElement.textContent = "Activate";
          statusButton.className = "dns-over-httpsdis-activate button";
          statusTextContainer.textContent = "Not Active";
        }
      } else {
        // Error handling
        showError('Error updating status: ' + data.error);
      }
    })
    .catch(error => {
      // Handle any errors that occurred during the fetch
      showError('Error: ' + error.message);
    });
}

function deleteDNSRecord(dnsId) {
    fetch(`/delete_dns/${dnsId}`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert("DNS record deleted successfully.");
                // Refresh the page or remove the DNS entry from the DOM
                location.reload();
            } else {
                alert("Error: " + data.error);
            }
        })
        .catch(error => {
            alert("Error: " + error.message);
        });
}


</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Show the popup if it exists
    if ($('#loginErrorPopup').length) {
        $('#loginErrorPopup').fadeIn();

        // Hide the popup after 5 seconds
        setTimeout(function() {
            $('#loginErrorPopup').fadeOut();
        }, 5000);
    }
});
</script>
  </body>
</html>
