<!DOCTYPE html>
<html lang="english">
  <head>
    <title>DNS Over HTTPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    </head>
  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div>
    <link rel="stylesheet" href="{{ url_for('static', filename='dns-add.css') }}">

      <div class="dns-add-container">
        <div class="dns-add-dns-edit">
          <span class="dns-add-text">Add New DNS</span>
          <img
            alt="image23788"
            src="{{ url_for('static', filename='public/external/image23788-o1y-200h.png') }}"
            class="dns-add-image2"
          />
          <a href="dns-over-httpsdis" class="dns-add-navlink">
            <div id="dnsaddBack" class="dns-add-back-button button">
              <span class="dns-add-text01">Back</span>
            </div>
          </a>
          <div class="dns-add-menu">
            <span class="dns-add-text02">
              <span class="dns-add-text03">Cyber</span>
              <span>Vault</span>
            </span>
            <a href="/" class="dns-add-navlink1">
              <div class="dns-add-home button">
                <div class="dns-add-container01">
                  <img
                    alt="Home4229"
                    src="{{ url_for('static', filename='public/external/home4229-6ztk-200h.png') }}"
                    class="dns-add-home1"
                  />
                  <span class="dns-add-text05">Home</span>
                </div>
              </div>
            </a>
            <a href="firewall.html" class="dns-add-navlink2">
              <div class="dns-add-firewall button">
                <div class="dns-add-container02">
                  <img
                    alt="BrickWall4229"
                    src="{{ url_for('static', filename='public/external/brickwall4229-fe85-200h.png') }}"
                    class="dns-add-brick-wall"
                  />
                  <span class="dns-add-text06">Firewall</span>
                </div>
              </div>
            </a>
            <a href="vpn.html" class="dns-add-navlink3">
              <div class="dns-add-vpn button">
                <div class="dns-add-container03">
                  <img
                    alt="VPN4229"
                    src="{{ url_for('static', filename='public/external/vpn4229-ur9r-200h.png') }}"
                    class="dns-add-vpn1"
                  />
                  <span class="dns-add-text07"><span>VPN</span></span>
                </div>
              </div>
            </a>
            <a href="dns-over-httpsdis.html" class="dns-add-navlink4">
              <div class="dns-add-dns button">
                <div class="dns-add-container04">
                  <img
                    alt="Lock4229"
                    src="{{ url_for('static', filename='public/external/lock4229-ou9-200h.png') }}"
                    class="dns-add-lock"
                  />
                  <span class="dns-add-text09"><span>Secure DNS</span></span>
                </div>
              </div>
            </a>
            <a href="logs.html" class="dns-add-navlink5">
              <div class="dns-add-logs button">
                <div class="dns-add-container05">
                  <img
                    alt="List4229"
                    src="{{ url_for('static', filename='public/external/list4229-fubg-200h.png') }}"
                    class="dns-add-list"
                  />
                  <span class="dns-add-text11"><span>Logs</span></span>
                </div>
              </div>
            </a>
            <a href="blacklisting.html" class="dns-add-navlink6">
              <div class="dns-add-blacklist button">
                <div class="dns-add-container06">
                  <img
                    alt="Multiplication4229"
                    src="{{ url_for('static', filename='public/external/multiplication4229-h3z-200h.png') }}"
                    class="dns-add-multiplication"
                  />
                  <span class="dns-add-text13"><span>Blacklist</span></span>
                </div>
              </div>
            </a>
            <a href="ids.html" class="dns-add-navlink7">
              <div class="dns-add-ids button">
                <div class="dns-add-container07">
                  <span class="dns-add-text15"><span>IDS</span></span>
                  <div class="dns-add-frameiconsetting4">
                    <div class="dns-add-group">
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-kbig.svg') }}"
                        class="dns-add-vector"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-ury6.svg') }}"
                        class="dns-add-vector1"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-apps.svg') }}"
                        class="dns-add-vector2"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-5fl.svg') }}"
                        class="dns-add-vector3"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-ow93.svg') }}"
                        class="dns-add-vector4"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-d3e.svg') }}"
                        class="dns-add-vector5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="settings.html" class="dns-add-navlink8">
              <div class="dns-add-settings button">
                <div class="dns-add-container08">
                  <span class="dns-add-text17"><span>Settings</span></span>
                  <img
                    alt="Gear4229"
                    src="{{ url_for('static', filename='public/external/gear4229-cdoj-200h.png') }}"
                    class="dns-add-gear"
                  />
                </div>
              </div>
            </a>
          </div>
          <form action="/dns-add" method="POST">
          <div class="dns-add-container09">
          <div class="dns-add-name">
            <span class="dns-add-text19"><span>Name</span></span>
            <input type="text" name="name" class="dns-add-avp-name input" required />
          </div>
          <div class="dns-add-type">
            <span class="dns-add-text21">DNS</span>
            <input type="text" name="dns" class="dns-add-avp-type input" required />
          </div>
          <div class="dns-add-server">
            <span class="dns-add-text22">
              <span>Backup DNS</span>
              <br />
            </span>
            <input type="text" name="backup_dns" class="dns-add-avp-server input" required />
          </div>
          <button type="submit" class="dns-add-add-button button">
            <span class="dns-add-text25">Add</span>
          </button>
        </div>
      </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
