<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    
  </head>
  <body>
    <link rel="stylesheet" href="./static/style.css">
    <div>
      <link href="./static/firewall-rule.css" rel="stylesheet" />

      <div class="firewall-rule-container">
        <div class="firewall-rule-firewall-rule">
          <span class="firewall-rule-text">
            <span>Create Firewall Rule</span>
          </span>
          <div class="firewall-rule-container01">
            <div class="firewall-rule-name">
              <span class="firewall-rule-text02"><span>Name</span></span>
              <input type="text" class="firewall-rule-fw-name input" />
            </div>
            <div class="firewall-rule-description">
              <span class="firewall-rule-text04"><span>Description</span></span>
              <input type="text" class="firewall-rule-fw-desc input" />
            </div>
            <div class="firewall-rule-action">
              <span class="firewall-rule-text06"><span>Action</span></span>
              <input type="text" class="firewall-rule-fw-action input" />
            </div>
            <div class="firewall-rule-ports">
              <span class="firewall-rule-text08"><span>Ports</span></span>
              <input type="text" class="firewall-rule-fw-ports input" />
            </div>
            <div class="firewall-rule-ip">
              <span class="firewall-rule-text10"><span>IP Address</span></span>
              <input type="text" class="firewall-rule-fw-ip input" />
            </div>
            <div class="firewall-rule-protocol">
              <span class="firewall-rule-text12"><span>Protocol</span></span>
              <input type="text" class="firewall-rule-fw-protocol input" />
            </div>
            <div class="firewall-rule-priority">
              <span class="firewall-rule-text14">Priority</span>
              <input type="text" class="firewall-rule-fw-priority input" />
            </div>
            <div class="firewall-rule-time">
              <span class="firewall-rule-text15"><span>Time</span></span>
              <input type="text" class="firewall-rule-fw-time input" />
            </div>
          </div>
          <div id="frruleCreate" class="firewall-rule-create-button button">
            <span id="frruleCreate" class="firewall-rule-text17">Create</span>
          </div>
          <a href="./firewall.html" class="firewall-rule-navlink">
            <div id="ftruleBack" class="firewall-rule-back-button button">
              <span class="firewall-rule-text18"><span>Back</span></span>
            </div>
          </a>
          <div class="firewall-rule-menu">
            <span class="firewall-rule-text20">
              <span class="firewall-rule-text21">Cyber</span>
              <span>Vault</span>
            </span>
            <a href="./homepage.html" class="firewall-rule-navlink1">
              <div class="firewall-rule-home button">
                <div class="firewall-rule-container02">
                  <img
                    alt="Home4229"
                    src="./public/external/home4229-6ztk-200h.png"
                    class="firewall-rule-home1"
                  />
                  <span class="firewall-rule-text23">Home</span>
                </div>
              </div>
            </a>
            <a href="./firewall.html" class="firewall-rule-navlink2">
              <div class="firewall-rule-firewall button">
                <div class="firewall-rule-container03">
                  <img
                    alt="BrickWall4229"
                    src="./public/external/brickwall4229-fe85-200h.png"
                    class="firewall-rule-brick-wall"
                  />
                  <span class="firewall-rule-text24">Firewall</span>
                </div>
              </div>
            </a>
            <a href="./vpn.html" class="firewall-rule-navlink3">
              <div class="firewall-rule-vpn button">
                <div class="firewall-rule-container04">
                  <img
                    alt="VPN4229"
                    src="./public/external/vpn4229-ur9r-200h.png"
                    class="firewall-rule-vpn1"
                  />
                  <span class="firewall-rule-text25"><span>VPN</span></span>
                </div>
              </div>
            </a>
            <a href="./dns-over-httpsdis.html" class="firewall-rule-navlink4">
              <div class="firewall-rule-dns button">
                <div class="firewall-rule-container05">
                  <img
                    alt="Lock4229"
                    src="./public/external/lock4229-ou9-200h.png"
                    class="firewall-rule-lock"
                  />
                  <span class="firewall-rule-text27">
                    <span>Secure DNS</span>
                  </span>
                </div>
              </div>
            </a>
            <a href="./logs.html" class="firewall-rule-navlink5">
              <div class="firewall-rule-logs button">
                <div class="firewall-rule-container06">
                  <img
                    alt="List4229"
                    src="./public/external/list4229-fubg-200h.png"
                    class="firewall-rule-list"
                  />
                  <span class="firewall-rule-text29"><span>Logs</span></span>
                </div>
              </div>
            </a>
            <a href="./blacklisting.html" class="firewall-rule-navlink6">
              <div class="firewall-rule-blacklist button">
                <div class="firewall-rule-container07">
                  <img
                    alt="Multiplication4229"
                    src="./public/external/multiplication4229-h3z-200h.png"
                    class="firewall-rule-multiplication"
                  />
                  <span class="firewall-rule-text31">
                    <span>Blacklist</span>
                  </span>
                </div>
              </div>
            </a>
            <a href="./ids.html" class="firewall-rule-navlink7">
              <div class="firewall-rule-ids button">
                <div class="firewall-rule-container08">
                  <span class="firewall-rule-text33"><span>IDS</span></span>
                  <div class="firewall-rule-frameiconsetting4">
                    <div class="firewall-rule-group">
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-kbig.svg"
                        class="firewall-rule-vector"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-ury6.svg"
                        class="firewall-rule-vector1"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-apps.svg"
                        class="firewall-rule-vector2"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-5fl.svg"
                        class="firewall-rule-vector3"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-ow93.svg"
                        class="firewall-rule-vector4"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-d3e.svg"
                        class="firewall-rule-vector5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="./settings.html" class="firewall-rule-navlink8">
              <div class="firewall-rule-settings button">
                <div class="firewall-rule-container09">
                  <span class="firewall-rule-text35">
                    <span>Settings</span>
                  </span>
                  <img
                    alt="Gear4229"
                    src="./public/external/gear4229-cdoj-200h.png"
                    class="firewall-rule-gear"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
