<!DOCTYPE html>
<html lang="english">
  <head>
    <title>cybervault</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div>
      <link rel="stylesheet" href="{{ url_for('static', filename='firewall.css') }}">

    <div class="firewall-container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="site-errors" id="loginErrorPopup">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
   <div class="firewall-firewall">
     <span class="firewall-text"><span>Firewall</span></span>
     <div class="firewall-analytics">
        <span class="firewall-textant">Analytics</span>
        <div class="firewall-mostblocked">
      <span class="firewall-blocksitelabel">Most Blocked</span>
      <span class="firewall-blocksite">{{ most_blocked_domain }}</span>
    </div>
    <div class="firewall-blockedratio">
      <span class="firewall-blockratabel">Blocked</span>
      <span class="firewall-blockpercent">{{ blocked_ratio }}</span>
    </div>
    <div class="firewall-blocked">
      <span class="firewall-blockedcount">{{ blocked_count }}</span>
      <span class="firewall-blockedlabel">Threats</span>
    </div>
      </div>
     <!--
     <div class="blacklisting-container01">
       <div class="blacklisting-container-header">
            <span class="blacklisting-text-header">ID</span>
            <span class="blacklisting-text-header">IP Address</span>
            <span class="blacklisting-text-header">Port</span>
            <span class="blacklisting-text-header">Status</span>
            <span class="blacklisting-text-header">Protocol</span>
            <span class="blacklisting-text-header">Action</span>
        </div>


{% for record in blacklist_records %}
<div class="blacklist-record-entry">
 <span class="blacklisting-entry-text">{{ record[0] }}</span>
 <span class="blacklisting-entry-text">{{ record[1] }}</span>
 <span class="blacklisting-entry-text">{{ record[2] }}</span>
 <span class="blacklisting-entry-text">{{ record[3] }}</span>
 <span class="blacklisting-entry-text">{{ record[4] }}</span>
 <div class="blacklisting-button-container">
   <div class="blacklisting-delete button" onclick="location.href='{{ url_for('delete_rule', record_id=record[0]) }}';">
     <span class="blacklisting-entry-remove">Remove</span>
 </div>
</div>
</div>
{% endfor %}
-->
</div>
     <div class="firewall-rules">
       <div class="firewall-container01">
         <span class="firewall-text02">Firewall Status</span>
         <span class="firewall-text03"><span>Settings</span></span>
       </div>
       <span class="firewall-text05" id="firewallStatusText">Not Active</span>
       <div class="firewall-activate button" id="firewallButton">
         <span class="firewall-text06" id="firewallStatus"><span>Activate</span></span>
       </div>
     </div>
     <div class="firewall-function">
    <span class="firewall-text08"><span>VaultGuard</span></span>
    <span class="firewall-text10"><span>VaultGuard uses a regularly updated blocklist to block malicious sites, advertisements and Secure DNS.</span></span>
    <span class="firewall-text12" id="adblockStatus"></span>
    <div class="firewall-container02">
        <span class="firewall-text16"><span>Status</span></span>
    </div>
    <div id="frMalsites" class="firewall-activate2 button" onclick="toggleNextDNS()">
        <span class="firewall-text22" id="adblockButtonText">Activate</span>
    </div>
</div>

     <div class="firewall-menu">
       <span class="firewall-text24">
         <span class="firewall-text25">Cyber</span><span>Vault</span>
       </span>
       <a href="/" class="firewall-navlink">
         <div class="firewall-home button">
           <div class="firewall-container03">
             <img
               alt="Home4229"
               src="{{ url_for('static', filename='public/external/home4229-6ztk-200h.png') }}"
               class="firewall-home1"
             />
             <span class="firewall-text27">Home</span>
           </div>
         </div>
       </a>
       <a href="firewall" class="firewall-navlink1">
         <div class="firewall-firewall1 button">
           <div class="firewall-container04">
             <img
               alt="BrickWall4229"
               src="{{ url_for('static', filename='public/external/brickwall4229-fe85-200h.png') }}"
               class="firewall-brick-wall"
             />
             <span class="firewall-text28">Firewall</span>
           </div>
         </div>
       </a>
       <a href="vpn" class="firewall-navlink2">
         <div class="firewall-vpn button">
           <div class="firewall-container05">
             <img
               alt="VPN4229"
               src="{{ url_for('static', filename='public/external/vpn4229-ur9r-200h.png') }}"
               class="firewall-vpn1"
             />
             <span class="firewall-text29"><span>VPN</span></span>
           </div>
         </div>
       </a>
       <a href="dns-over-httpsdis">
       <div class="firewall-dns button">
         <div class="firewall-container06">
           <img
             alt="Lock4229"
             src="{{ url_for('static', filename='public/external/lock4229-ou9-200h.png') }}"
             class="firewall-lock"
           />
           <span class="firewall-text31"><span>Secure DNS</span></span>
         </div>
       </div>
      </a>
       <a href="logs" class="firewall-navlink3">
         <div class="firewall-logs button">
           <div class="firewall-container07">
             <img
               alt="List4229"
               src="{{ url_for('static', filename='public/external/list4229-fubg-200h.png') }}"
               class="firewall-list"
             />
             <span class="firewall-text33"><span>Logs</span></span>
           </div>
         </div>
       </a>
       <a href="chatbot-discovery" class="firewall-navlink4">
         <div class="firewall-blacklist button">
           <div class="firewall-container08">
             <img
               alt="Multiplication4229"
               src="{{ url_for('static', filename='public/external/multiplication4229-h3z-200h.png') }}"
               class="firewall-multiplication"
             />
             <span class="firewall-text35"><span>VaultBot</span></span>
           </div>
         </div>
       </a>
       <a href="ids" class="firewall-navlink5">
         <div class="firewall-ids button">
           <div class="firewall-container09">
             <span class="firewall-text37"><span>IDS</span></span>
             <div class="firewall-frameiconsetting4">
               <div class="firewall-group">
                 <img
                   alt="Vector4229"
                   src="{{ url_for('static', filename='public/external/vector4229-kbig.svg') }}"
                   class="firewall-vector"
                 />
                 <img
                   alt="Vector4229"
                   src="{{ url_for('static', filename='public/external/vector4229-ury6.svg') }}"
                   class="firewall-vector1"
                 />
                 <img
                   alt="Vector4229"
                   src="{{ url_for('static', filename='public/external/vector4229-apps.svg') }}"
                   class="firewall-vector2"
                 />
                 <img
                   alt="Vector4229"
                   src="{{ url_for('static', filename='public/external/vector4229-5fl.svg') }}"
                   class="firewall-vector3"
                 />
                 <img
                   alt="Vector4229"
                   src="{{ url_for('static', filename='public/external/vector4229-ow93.svg') }}"
                   class="firewall-vector4"
                 />
                 <img
                   alt="Vector4229"
                   src="{{ url_for('static', filename='public/external/vector4229-d3e.svg') }}"
                   class="firewall-vector5"
                 />
               </div>
             </div>
           </div>
         </div>
       </a>
       <a href="settings" class="firewall-navlink6">
         <div class="firewall-settings button">
           <div class="firewall-container10">
             <span class="firewall-text39"><span>Settings</span></span>
             <img
               alt="Gear4229"
               src="{{ url_for('static', filename='public/external/gear4229-cdoj-200h.png') }}"
               class="firewall-gear"
             />
           </div>
         </div>
       </a>
     </div>
   </div>
 </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Show the popup if it exists
        if ($('#loginErrorPopup').length) {
            $('#loginErrorPopup').fadeIn();

            // Hide the popup after 5 seconds
            setTimeout(function() {
                $('#loginErrorPopup').fadeOut();
            }, 5000);
        }
    });
</script>
<script>
    function toggleNextDNS() {
        $.post('/activatenextdns', function(response) {
            if (response.success) {
                $('#adblockStatus').text(response.status);
                const isNextDNSActive = response.status === 'Active';
                $('#adblockButtonText').text(isNextDNSActive ? 'Disable' : 'Activate');
                if (isNextDNSActive) {
                    $('#frMalsites').addClass('firewall-deactivate2').removeClass('firewall-activate2');
                } else {
                    $('#frMalsites').addClass('firewall-activate2').removeClass('firewall-deactivate2');
                }
            } else {
                alert('Error: ' + response.error);
            }
        });
    }

    // Check the initial status on page load
    $(document).ready(function() {
        $.get('/nextdnsstatus', function(response) {
            const isNextDNSActive = response.status === 'Active';
            $('#adblockStatus').text(isNextDNSActive ? 'Active' : 'Not Active');
            $('#adblockButtonText').text(isNextDNSActive ? 'Disable' : 'Activate');
            if (isNextDNSActive) {
                $('#frMalsites').addClass('firewall-deactivate2').removeClass('firewall-activate2');
            } else {
                $('#frMalsites').addClass('firewall-activate2').removeClass('firewall-deactivate2');
            }
        });
    });
</script>

<script>
    function getIdsProcessStatus(callback) {
        $.getJSON('/get_ids_process_status', function(response) {
            callback(response.is_none);
        });
    }

    function toggleFirewallStatus() {
    getIdsProcessStatus(function(isIdsProcessNone) {
        if (isIdsProcessNone) {
            // Proceed to toggle Firewall status
            $.post('/toggle_firewall_status', function(response) {
                if(response.message === "Firewall status updated.") {
                    // Get the current status from the Flask function
                    $.getJSON('/get_firewall_status', function(data) {
                        let firewallActive = data.firewall_active;

                        // Update the text based on the firewall status
                        $('#firewallStatusText').text(firewallActive ? 'Active' : 'Not Active');

                        // Toggle the classes and text based on the firewall status
                        if (firewallActive) {
                            $('#firewallButton').addClass('firewall-deactivate').removeClass('firewall-activate');
                            $('#firewallStatus').text('Disable');
                        } else {
                            $('#firewallButton').addClass('firewall-activate').removeClass('firewall-deactivate');
                            $('#firewallStatus').text('Activate');
                        }
                    }).fail(function() {
                        alert('Error getting firewall status.');
                    });
                } else {
                    alert('Error toggling firewall status: ' + response.error);
                }
            }).fail(function() {
                alert('Error toggling firewall status.');
            });
        } else {
            alert('IDS process is not none, cannot toggle firewall status.');
        }
    });
}




    function updateInitialFirewallStatus() {
        $.getJSON('/get_firewall_status', function(data) {
            let firewallActive = data.firewall_active;

            // Update the text based on the firewall status
            $('#firewallStatusText').text(firewallActive ? 'Active' : 'Not Active');

            // Toggle the classes based on the firewall status
            if (firewallActive) {
                $('#firewallButton').addClass('firewall-deactivate').removeClass('firewall-activate');
                $('#firewallStatus').text('Disable');
            } else {
                $('#firewallButton').addClass('firewall-activate').removeClass('firewall-deactivate');
                $('#firewallStatus').text('Activate');
            }
        });
    }

    $(document).ready(function() {
        updateInitialFirewallStatus();
        $('.firewall-activate').click(toggleFirewallStatus);
    });
</script>

  </body>
</html>
