<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
   
  </head>
  <body>
    <link rel="stylesheet" href="./static/style.css">
    <div>
      <link href="./static/homepage.css" rel="stylesheet" />

      <div class="firewall-container">
        <div class="firewall-firewall">
          <span class="firewall-text"><span>Homepage</span></span>
          
         
        

         <div class="main-menu-container01">
                <div class="main-menu-container02">
                    <span class="main-menu-text"><span>Quick Overview</span></span>
                </div>
                <div class="main-menu-group376">
                    <span class="main-menu-text02"><span>Alerts</span></span>
                    <span class="main-menu-text04"><span>Devices</span></span>
                    <span class="main-menu-text06"><span>Blacklisted</span></span>
                    <div class="main-menu-group375">
                        <div class="main-menu-container03">  
                          <img
                                alt="Ellipse633725"
                                src="./public/external/ellipse653725-dqf-200h.png"
                                class="main-menu-ellipse63"
                            />
                        </div>
                        <span class="main-menu-text08">3</span>
                    </div>
                    <div class="main-menu-group374">
                        <img
                            alt="Ellipse643725"
                            src="./public/external/ellipse643725-og49-200h.png"
                            class="main-menu-ellipse64"
                        />
                        <span class="main-menu-text09">4</span>
                    </div>
                    <div class="main-menu-group373">
                        <img
                            alt="Ellipse653725"
                            src="./public/external/ellipse653725-dqf-200h.png"
                            class="main-menu-ellipse65"
                        />
                        <span class="main-menu-text10"><span>56</span></span>
                    </div>
                </div>
            </div>
          
            <div class="main-menu-container05">
                <div class="main-menu-container06">
                    <span class="main-menu-text23"><span>Suggestions</span></span>
                </div>
                <span class="main-menu-text25">
                    <span>30 days password change remainder</span>
                    <br />
                    <span>Black list unsecure websites</span>
                    <br />
                    <span></span>
                    <span></span>
                    <span>New system update</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div class="main-menu-container07">
                <span class="main-menu-text36">
                    <span class="main-menu-text37">Password Security: WPA2</span>
                    <br class="main-menu-text38" />
                    <span class="main-menu-text39">Network Base: Public</span>
                    <br class="main-menu-text40" />
                    <span class="main-menu-text41">Password Strength: Medium</span>
                    <span></span>
                    <span></span>
                </span>
                <span class="main-menu-text44">WIFI : 33310 connected</span>
                <div class="main-menu-container08">
                    <span class="main-menu-text45">
                        <span>Current network statistics</span>
                        <span></span>
                    </span>
                </div>
            </div>

            <div class="main-menu-behaviour">
                <span class="main-menu-text12"><span>Risky Behavior</span></span>
                <span class="main-menu-text14">
                    <span>Time spent on new public network 5 hrs</span>
                    <span></span>
                </span>
                <span class="main-menu-text17">
                    <span>
                        <span>No of unsecure websites accessed 3</span>
                        <span></span>
                    </span>
                </span>
                <div class="main-menu-container04">
                    <span class="main-menu-text21">
                        <span>User behavior pattern</span>
                    </span>
                </div>
            </div>

        <a href="./chatbotdiscovery.html" >
          <img
            alt="image23788"
            src="./public/external/image23788-84gf-200h.png"
            class="firewall-image2"
          />
        </a>
          <div class="firewall-menu">
            <span class="firewall-text58">
              <span class="firewall-text59">Cyber</span>
              <span>Vault</span>
            </span>
            <a href="./homepage.html" class="main-menu-navlink">
                <div class="main-menu-home button">
                    <div class="main-menu-container09">
                        <span class="main-menu-text51"> Home</span>
                        <img
                            alt="Home4229"
                            src="./public/external/home4229-6ztk-200h.png"
                            class="main-menu-home1"
                        />
                        
                    </div>
                </div>
            </a>
            <a href="./firewall.html" class="main-menu-navlink1">
                <div class="main-menu-firewall button">
                    <div class="main-menu-container10">
                        <img
                            alt="BrickWall4229"
                            src="./public/external/brickwall4229-fe85-200h.png"
                            class="main-menu-brick-wall"
                        />
                        <span class="main-menu-text52">Firewall</span>
                    </div>
                </div>
            </a>
            <a href="./vpn.html" class="firewall-navlink4">
              <div class="firewall-vpn button">
                <div class="firewall-container05">
                  <img
                    alt="VPN4229"
                    src="./public/external/vpn4229-ur9r-200h.png"
                    class="firewall-vpn1"
                  />
                  <span class="firewall-text63"><span>VPN</span></span>
                </div>
              </div>
            </a>
            <div class="firewall-dns button">
              <div class="firewall-container06">
                <img
                  alt="Lock4229"
                  src="./public/external/lock4229-ou9-200h.png"
                  class="firewall-lock"
                />
                <span class="firewall-text65"><span>Secure DNS</span></span>
              </div>
            </div>
            <a href="./logs.html" class="firewall-navlink5">
              <div class="firewall-logs button">
                <div class="firewall-container07">
                  <img
                    alt="List4229"
                    src="./public/external/list4229-fubg-200h.png"
                    class="firewall-list"
                  />
                  <span class="firewall-text67"><span>Logs</span></span>
                </div>
              </div>
            </a>
            <a href="./blacklisting.html" class="firewall-navlink6">
              <div class="firewall-blacklist button">
                <div class="firewall-container08">
                  <img
                    alt="Multiplication4229"
                    src="./public/external/multiplication4229-h3z-200h.png"
                    class="firewall-multiplication"
                  />
                  <span class="firewall-text69"><span>Blacklist</span></span>
                </div>
              </div>
            </a>
            <a href="./ids.html" class="firewall-navlink7">
              <div class="firewall-ids button">
                <div class="firewall-container09">
                  <span class="firewall-text71"><span>IDS</span></span>
                  <div class="firewall-frameiconsetting4">
                    <div class="firewall-group">
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-kbig.svg"
                        class="firewall-vector"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-ury6.svg"
                        class="firewall-vector1"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-apps.svg"
                        class="firewall-vector2"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-5fl.svg"
                        class="firewall-vector3"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-ow93.svg"
                        class="firewall-vector4"
                      />
                      <img
                        alt="Vector4229"
                        src="./public/external/vector4229-d3e.svg"
                        class="firewall-vector5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="./settings.html" class="firewall-navlink8">
              <div class="firewall-settings button">
                <div class="firewall-container10">
                  <span class="firewall-text73"><span>Settings</span></span>
                  <img
                    alt="Gear4229"
                    src="./public/external/gear4229-cdoj-200h.png"
                    class="firewall-gear"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
