<!DOCTYPE html>
<html lang="english">
  <head>
    <title>cybervault</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: none;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />

  </head>
  <body>
    <div>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <div class="main-menu-container">
          <div class="main-menu-main-menu">
            <div class="main-menu-container01">
              <div class="main-menu-container02">
                <span class="main-menu-text"><span>Quick Overview</span></span>
                <span class="main-menu-text02">Status</span>
              </div>
              <div class="main-menu-group376">
                <span class="main-menu-text03"><span>Alerts</span></span>
                <span class="main-menu-text05">Device</span>
                <span class="main-menu-text06">Active Logs</span>
                <span class="main-menu-text07">Firewall status</span>
                <span class="main-menu-text08">DNS Status</span>
                <span class="main-menu-text09">VPN Status</span>
                <div class="main-menu-group375">
                  <div class="main-menu-container03">
                    <div class="main-menu-container03">
                      <img
                            alt="Ellipse633725"
                            src="{{ url_for('static', filename='/public/external/ellipse633725-0la-200h.png') }}"
                            class="main-menu-ellipse63"
                        />
                    </div>
                    <img
                      alt="Ellipse633725"
                      src="{{ url_for('static', filename='/public/external/ellipse633725-0la-200h.png') }}"
                      class="main-menu-ellipse631"
                    />
                    <img
                      alt="Ellipse633725"
                      src="{{ url_for('static', filename='/public/external/ellipse633725-0la-200h.png') }}"

                     class="main-menu-ellipse632"
                    />
                    <img
                      alt="Ellipse633725"
                      src="{{ url_for('static', filename='/public/external/ellipse633725-0la-200h.png') }}"

                     class="main-menu-ellipse633"
                    />
                    <img
                      alt="Ellipse633725"
                      src="{{ url_for('static', filename='/public/external/ellipse653725-dqf-200h.png') }}"
                      class="main-menu-ellipse634"
                    />
                  </div>
                  <span class="main-menu-text10">{{ count_ids }}</span>
                  <span class="main-menu-text11">{{ count_logs }}</span>
                </div>
                <div class="main-menu-group374">
                  <img
                    alt="Ellipse643725"
                    src="{{ url_for('static', filename='/public/external/ellipse633725-0la-200h.png') }}"
                    class="main-menu-ellipse64"
                  />
                  <span class="main-menu-text12">Connected</span>
                  <span class="main-menu-text13">
                    {% if firewall_active %}
                       Active
                    {% else %}
                       Inactive
                    {% endif %}
              </span>
                  <span class="main-menu-text14">
                    {% if dns_status %}
                      Active
                   {% else %}
                      Inactive
                   {% endif %}
                  </span>
                  <span class="main-menu-text15">
                    {% if vpn_status %}
                      Active
                   {% else %}
                      Inactive
                   {% endif %}
                  </span>
                </div>
              </div>
            </div>
            <!--
            <div class="main-menu-behaviour">
              <span class="main-menu-text16"><span>Be aware</span></span>
              <span class="main-menu-text18" id="randomTextt" >
                <span>Time spent on new public network 5 hrs</span>

              </span>

              <div class="main-menu-container04">
                <span class="main-menu-text25">Threat Update</span>
              </div>
            </div> -->
            <div class="main-menu-network-stats">
              <div class="main-menu-network-graph">
                <canvas id="bandwidthChart" class="bandwidth-chart"></canvas>
            </div>
              <div class="main-menu-container05">
                <span class="main-menu-text26">Network Statistics</span>
              </div>
              <div class="main-menu-network-security">
                <span class="main-menu-netsec">WPA-2</span>
                <span class="main-menu-netseclabel">Network Security:</span>
              </div>
              <div class="main-menu-networkname">
                <span class="main-menu-netname">{{ wifi_name }}</span>
                <span class="main-menu-netnamelabel">Network Name: </span>
              </div>
            </div>
            <div class="firewall-analytics">
               <span class="firewall-textant">VaultGuard Analytics</span>
               <div class="firewall-mostblocked">
             <span class="firewall-blocksitelabel">Most Blocked</span>
             <span class="firewall-blocksite">{{ most_blocked_domain }}</span>
           </div>
           <div class="firewall-blockedratio">
             <span class="firewall-blockratabel">Blocked</span>
             <span class="firewall-blockpercent">{{ blocked_ratio }}</span>
           </div>
           <div class="firewall-blocked">
             <span class="firewall-blockedcount">{{ blocked_count }}</span>
             <span class="firewall-blockedlabel">Threats</span>
           </div>
             </div>
            <!--
            <div class="main-menu-container06">
              <div class="main-menu-container07">
                <span class="main-menu-text30">Suggestion</span>
                <span class="main-menu-text31" id="randomText" >
                  <span>30 days password change remainder</span>
                  <br />
                  <span>Black list unsecure websites</span>
                  <br />
                  <span>


                  </span>
                  <span>


                  </span>
                  <span>
                    <span>New system update</span>

                  </span>
                  <span>


                  </span>
                  <span>


                  </span>
                  <span>


                  </span>
                </span>
              </div>
            </div> -->
            <div class="main-menu-menu">
              <span class="main-menu-text54">
                <span class="main-menu-text55">Cyber</span><span>Vault</span>
              </span>
              <a href="/" class="main-menu-navlink">
                <div class="main-menu-home button">
                  <div class="main-menu-container08">
                    <img
                      alt="Home4229"
                      src="{{ url_for('static', filename='/public/external/home4229-6ztk-200h.png') }}"
                      class="main-menu-home1"
                    />
                    <span class="main-menu-text57">Home</span>
                  </div>
                </div>
              </a>
              <a href="firewall" class="main-menu-navlink1">
                <div class="main-menu-firewall button">
                  <div class="main-menu-container09">
                    <img
                      alt="BrickWall4229"
                      src="{{ url_for('static', filename='/public/external/brickwall4229-fe85-200h.png') }}"
                      class="main-menu-brick-wall"
                    />
                    <span class="main-menu-text58">Firewall</span>
                  </div>
                </div>
              </a>
              <a href="vpn"class="main-menu-navlink2">
                <div class="main-menu-vpn button">
                  <div class="main-menu-container10">
                    <img
                      alt="VPN4229"
                      src="{{ url_for('static', filename='/public/external/vpn4229-ur9r-200h.png') }}"
                      class="main-menu-vpn1"
                    />
                    <span class="main-menu-text59"><span>VPN</span></span>
                  </div>
                </div>
              </a>
              <a href="dns-over-httpsdis" class="main-menu-navlink3">
                <div class="main-menu-dns button">
                  <div class="main-menu-container11">
                    <img
                      alt="Lock4229"
                      src="{{ url_for('static', filename='/public/external/lock4229-ou9-200h.png') }}"
                      class="main-menu-lock"
                    />
                    <span class="main-menu-text61"><span>Secure DNS</span></span>
                  </div>
                </div>
              </a>
              <a href="logs" class="main-menu-navlink4">
                <div class="main-menu-logs button">
                  <div class="main-menu-container12">
                    <img
                      alt="List4229"
                      src="{{ url_for('static', filename='/public/external/list4229-fubg-200h.png') }}"
                      class="main-menu-list"
                    />
                    <span class="main-menu-text63"><span>Logs</span></span>
                  </div>
                </div>
              </a>
              <a href="chatbot-discovery" class="main-menu-navlink5">
                <div class="main-menu-blacklist button">
                  <div class="main-menu-container13">
                    <img
                      alt="Multiplication4229"
                      src="{{ url_for('static', filename='/public/external/multiplication4229-h3z-200h.png') }}"
                      class="main-menu-multiplication"
                    />
                    <span class="main-menu-text65">VaultBot</span>
                  </div>
                </div>
              </a>
              <a href="ids" class="main-menu-navlink6">
                <div class="main-menu-ids button">
                  <div class="main-menu-container14">
                    <span class="main-menu-text66"><span>IDS</span></span>
                    <div class="main-menu-frameiconsetting4">
                      <div class="main-menu-group">
                        <img
                          alt="Vector4229"
                          src="{{ url_for('static', filename='/public/external/vector4229-kbig.svg') }}"
                          class="main-menu-vector"
                        />
                        <img
                          alt="Vector4229"
                          src="{{ url_for('static', filename='/public/external/vector4229-ury6.svg') }}"
                          class="main-menu-vector1"
                        />
                        <img
                          alt="Vector4229"
                          src="{{ url_for('static', filename='/public/external/vector4229-apps.svg') }}"
                          class="main-menu-vector2"
                        />
                        <img
                          alt="Vector4229"
                          src="{{ url_for('static', filename='/public/external/vector4229-5fl.svg') }}"
                          class="main-menu-vector3"
                        />
                        <img
                          alt="Vector4229"
                          src="{{ url_for('static', filename='/public/external/vector4229-ow93.svg') }}"
                          class="main-menu-vector4"
                        />
                        <img
                          alt="Vector4229"
                          src="{{ url_for('static', filename='/public/external/vector4229-d3e.svg') }}"
                          class="main-menu-vector5"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="settings" class="main-menu-navlink7">
                <div class="main-menu-settings button">
                  <div class="main-menu-container15">
                    <span class="main-menu-text68"><span>Settings</span></span>
                    <img
                      alt="Gear4229"
                      src="{{ url_for('static', filename='/public/external/gear4229-cdoj-200h.png') }}"
                      class="main-menu-gear"
                    />
                  </div>
                </div>
              </a>
            </div>
            <span class="main-menu-text70">Welcome back, Joe</span>
          </div>
        </div>
      </div>

      <script>
        // Array of text file names
        const textFiles = ['1.txt', '2.txt','3.txt','4.txt'];
        const textFilesthreat = ['t1.txt', 't2.txt','t3.txt'];

        // Function to get a random element from an array
        function getRandomElement(array) {
            const randomIndex = Math.floor(Math.random() * array.length);
            return array[randomIndex];
        }

        // Function to load and display the content of a text file
        function displayRandomText() {
            const randomFile = getRandomElement(textFiles);
            const filePath = `../static/${randomFile}`; // Update the path

            fetch(filePath)
                .then(response => response.text())
                .then(data => {
                    // Break the text into lines when a comma (,) or at least three spaces are encountered
                    const lines = data.split(/,| {3,}/);
                    // Join the lines with a line break
                    const formattedText = lines.join('<br>');

                    document.getElementById('randomText').innerHTML = formattedText;
                })
                .catch(error => {
                    console.error('Error loading text file:', error);
                });
        }
        function displayRandomTextt() {
            const randomFile = getRandomElement(textFilesthreat);
            const filePath = `../static/${randomFile}`; // Update the path

            fetch(filePath)
                .then(response => response.text())
                .then(data => {
                    // Break the text into lines when a comma (,) or at least three spaces are encountered
                    const lines = data.split(/,| {3,}/);
                    // Join the lines with a line break
                    const formattedText = lines.join('<br>');

                    document.getElementById('randomTextt').innerHTML = formattedText;
                })
                .catch(error => {
                    console.error('Error loading text file:', error);
                });
        }


        // Call the function to display random text on page load
        document.addEventListener('DOMContentLoaded', displayRandomText);
        document.addEventListener('DOMContentLoaded', displayRandomTextt);

    </script>
    <script>
    var ctx = document.getElementById('bandwidthChart').getContext('2d');
var bandwidthChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [], // Time labels
        datasets: [{
          label: 'Bytes Received',
          data: [],
          borderColor: 'rgba(54, 162, 235, 1)', // Blue color
          backgroundColor: 'rgba(54, 162, 235, 0.5)', // Semi-transparent blue fill
          borderWidth: 2,
          pointRadius: 0, // Hide points for a cleaner look
          tension: 0.4, // Slightly smooth lines
          fill: true // Ensure area under line is filled
      }, {
          label: 'Bytes Sent',
          data: [],
          borderColor: 'rgba(255, 99, 132, 1)', // Red color
          backgroundColor: 'rgba(255, 99, 132, 0.5)', // Semi-transparent red fill
          borderWidth: 2,
          pointRadius: 0, // Hide points
          tension: 0.4, // Slightly smooth lines
          fill: true // Fill to the previous dataset
      }]

    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true,
                grid: {
                    color: 'rgba(200, 200, 200, 0.2)', // Light gray grid lines
                    borderDash: [8, 4] // Dashed grid lines
                }
            },
            x: {
                grid: {
                    display: false // Hide X-axis grid lines for a cleaner look
                }
            }
        },
        plugins: {
            legend: {
                labels: {
                    boxWidth: 12, // Smaller legend color box
                    font: {
                        family: 'Quicksand',
                        size: 14,
                        weight: '600'
                    }
                }
            }
        },
        elements: {
            line: {
                borderWidth: 2 // Width of the line
            }
        },
        font: {
            family: 'Quicksand',
            weight: '600'
        }
    }
});

// Rest of your JavaScript code...

    function fetchData() {
$.getJSON('/network-data', function(data) {
    if (data.error) {
        console.error("Error:", data.error);
        // Redirect to the login page
        window.location.href = '/login'; // Adjust the URL as needed
        return;
    }

    const maxDataPoints = 30;
    const now = new Date().toLocaleTimeString();

    bandwidthChart.data.labels.push(now);
    bandwidthChart.data.datasets[0].data.push(data.bytes_received);
    bandwidthChart.data.datasets[1].data.push(data.bytes_sent);

    if (bandwidthChart.data.labels.length > maxDataPoints) {
        bandwidthChart.data.labels.shift();
        bandwidthChart.data.datasets[0].data.shift();
        bandwidthChart.data.datasets[1].data.shift();
    }

    bandwidthChart.update();
}).fail(function(jqxhr, textStatus, error) {
    const errMsg = textStatus + ", " + error;
    console.error("Request Failed:", errMsg);
    // Optionally handle other types of failures
    // Example: alert("Failed to fetch network data.");
});
}

// Fetch data every 5 seconds
setInterval(fetchData, 5000);



        // Fetch data every 5 seconds
        setInterval(fetchData, 2000);
    </script>
</body>
</html>
