<!DOCTYPE html>
<html lang="english">
  <head>
    <title>cybervault</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />

  </head>
  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div>
      <link rel="stylesheet" href="{{ url_for('static', filename='settings.css') }}">

      <div class="settings-container">
        <div class="settings-settings">
          <span class="settings-text"><span>Settings</span></span>
          <div class="settings-version">
            <span class="settings-text02">
              <span class="settings-text03">
                <span>CyberVault Version 1.1</span>
                <br />
                <span></span>
              </span>
              <span>Last Updated 14th November 2023</span>
            </span>
          </div>
          <div class="settings-basic-settings">
            <span class="settings-text08"><span>Basic Settings</span></span>
            <a href="{{ url_for('wifisetup') }}" class="settings-wifi-login button">
            <span class="settings-text10"><span>Wi-Fi Login</span></span>
          </a>
            <div id="deactivate" class="settings-deactivate-vault-bot button">
              <span class="settings-text12">
                <span>Deactivate VaultBot</span>
              </span>
            </div>
            <a href="{{ url_for('reset_password') }}" class="settings-login-change button">
            <span class="settings-text14"><span>Login Change</span></span>
          </a>
            <div id="updateCheck" class="settings-check-for-updates button">
              <span class="settings-text16">
                <span>Check for Updates</span>
              </span>
            </div>
            <div id="restartSystem" class="settings-restart-system button">
              <span class="settings-text18"><span>Restart System</span></span>
            </div>
            <a href="{{ url_for('logout') }}" class="settings-log-out button">
              <span class="settings-text20"><span>Log Out</span></span>
            </a>
          </div>
          <form action="{{ url_for('settings') }}" method="post">
          <div class="settings-login-settings">
            <span class="settings-text23"><span>Login Settings</span></span>
            <div class="settings-reminder">
              <select class="settings-reminder1">
                <option value="3 Months" selected="">3 Months</option>
                <option value="6 Months">6 Months</option>
              </select>
              <span class="settings-text25">
                <span>Password Reminder</span>
              </span>
            </div>
            <div class="settings-login-timer">
            <span class="settings-text27"><span>Login Timeout</span></span>
            <select name="timeout" id="timeout" class="settings-select">
                <option value="5" {% if current_timeout == 5 %}selected{% endif %}>5 Minutes</option>
                <option value="10" {% if current_timeout == 10 %}selected{% endif %}>10 Minutes</option>
                <option value="15" {% if current_timeout == 15 %}selected{% endif %}>15 Minutes</option>
            </select>
        </div>
        <button type="submit" id="saveLogin" class="settings-save button">
        <span class="settings-text22">Save</span>
    </button>
          </div>
        </form>
          <div class="settings-menu">
            <span class="settings-text29">
              <span class="settings-text30">Cyber</span><span>Vault</span>
            </span>
            <a href="/" class="settings-navlink">
              <div class="settings-home button">
                <div class="settings-container1">
                  <img
                    alt="Home4229"
                    src="{{ url_for('static', filename='public/external/home4229-6ztk-200h.png') }}"
                    class="settings-home1"
                  />
                  <span class="settings-text32">Home</span>
                </div>
              </div>
            </a>
            <a href="firewall" class="settings-navlink1">
              <div class="settings-firewall button">
                <div class="settings-container2">
                  <img
                    alt="BrickWall4229"
                    src="{{ url_for('static', filename='public/external/brickwall4229-fe85-200h.png') }}"
                    class="settings-brick-wall"
                  />
                  <span class="settings-text33">Firewall</span>
                </div>
              </div>
            </a>
            <a href="vpn" class="settings-navlink2">
              <div class="settings-vpn button">
                <div class="settings-container3">
                  <img
                    alt="VPN4229"
                    src="{{ url_for('static', filename='public/external/vpn4229-ur9r-200h.png') }}"
                    class="settings-vpn1"
                  />
                  <span class="settings-text34"><span>VPN</span></span>
                </div>
              </div>
            </a>
            <a href="dns-over-httpsdis" class="settings-navlink3">
              <div class="settings-dns button">
                <div class="settings-container4">
                  <img
                    alt="Lock4229"
                    src="{{ url_for('static', filename='public/external/lock4229-ou9-200h.png') }}"
                    class="settings-lock"
                  />
                  <span class="settings-text36"><span>Secure DNS</span></span>
                </div>
              </div>
            </a>
            <a href="logs" class="settings-navlink4">
              <div class="settings-logs button">
                <div class="settings-container5">
                  <img
                    alt="List4229"
                    src="{{ url_for('static', filename='public/external/list4229-fubg-200h.png') }}"
                    class="settings-list"
                  />
                  <span class="settings-text38"><span>Logs</span></span>
                </div>
              </div>
            </a>
            <a href="chatbot-discovery" class="settings-navlink5">
              <div class="settings-blacklist button">
                <div class="settings-container6">
                  <img
                    alt="Multiplication4229"
                    src="{{ url_for('static', filename='public/external/multiplication4229-h3z-200h.png') }}"
                    class="settings-multiplication"
                  />
                  <span class="settings-text40"><span>VaultBot</span></span>
                </div>
              </div>
            </a>
            <a href="ids" class="settings-navlink6">
              <div class="settings-ids button">
                <div class="settings-container7">
                  <span class="settings-text42"><span>IDS</span></span>
                  <div class="settings-frameiconsetting4">
                    <div class="settings-group">
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-kbig.svg') }}"
                        class="settings-vector"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-ury6.svg') }}"
                        class="settings-vector1"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-apps.svg') }}"
                        class="settings-vector2"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-5fl.svg') }}"
                        class="settings-vector3"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-ow93.svg') }}"
                        class="settings-vector4"
                      />
                      <img
                        alt="Vector4229"
                        src="{{ url_for('static', filename='public/external/vector4229-d3e.svg') }}"
                        class="settings-vector5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="settings" class="settings-navlink7">
              <div class="settings-settings1 button">
                <div class="settings-container8">
                  <span class="settings-text44"><span>Settings</span></span>
                  <img
                    alt="Gear4229"
                    src="{{ url_for('static', filename='public/external/gear4229-cdoj-200h.png') }}"
                    class="settings-gear"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#restartSystem').click(function() {
                $.ajax({
                    url: '/restart-cybervaultapp',
                    type: 'GET',
                    success: function(response) {
                        // Alert the user of success
                        alert("The system is restarting successfully.");
                    },
                    error: function(error) {
                        // Alert the user of an error
                        alert("The system is restarting successfully");
                    }
                });
            });
        });
    </script>
  </body>
</html>
